
<!--  HTML Datastore -->
<div id='datastore01' data-extension='{{extension}}'></div>
<div id='datastore02' data-callId=''></div>
<!-- ./HTML Datastore -->


<div class="container">

 <div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Support Ticket Admin</h3>
  </div>


  <div class="panel-body">

<div>

<div class="panel panel-default">
  <div class="panel-body">
    
<p class="navbar-text">Assign ticket to contact <strong><span id="contactId">current call</span></strong></p>

 <form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="new ticket number" id="ticketnumber">
  </div>
  <button id="submit" type="button" class="btn btn-primary" onClick="finesse.modules.CallLoggingGadget.setTicketNumber();" >OK</button>

</form>

  </div>
</div>

</div>

  <!-- TABLE CONTENT -->
  <div id="tablePlaceholder"></div> 
  <!-- ./TABLE CONTENT -->

</div>

  <div class="panel-footer">
  </div>

  <!-- ALERTS -->
  <div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error submitting ticket</span>
  Error submitting ticket
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only"></span>
  <span id="message"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="alert alert-warning alert-dismissible" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Server down</span>
  <strong>Warning!</strong>   Server down
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <!-- ./ALERTS -->

</div>

</div>

<script src="javascripts/code.js"></script>
