
<!--  HTML Datastore -->
<div id='datastore01' data-extension='{{extension}}'></div>
<div id='datastore02' data-callId=''></div>
<!-- ./HTML Datastore -->


<div class="container">

 <div class="panel panel-default">

  <div class="panel-body">

<div>

<div class="panel panel-default">
  <div class="panel-body">
    
   <div id="successMsg" class="alert alert-success" style="display: none">
        <strong>Congratulations!!!&nbsp;</strong>You have successfully initiated a START_RECORDING!
    </div>
    <div id="errorMsg" class="alert alert-error" style="display: none">
        <h4>Uh Oh! An Error occurred when trying to START_RECORDING:</h4>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ErrorType:&nbsp;</strong><span id="errorMsgType"></span></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ErrorMessage:&nbsp;</strong><span id="errorMsgMessage"></span></div>
    </div>

 <form class="navbar-form navbar-left" role="search">
  <button id="submit" type="button" class="btn btn-primary" onClick="finesse.modules.CallTransferGadget.startTransfer();">Transfer</button>
 </form>

  </div>
</div>

</div>


</div>


</div>

</div>

