<div>
  <table class="table">
    <thead>
      <tr>
        <th>Call Id</th>
        <th>Calling Number</th>
        <th>Called Number</th>
        <th>Date</th>
        <th>Time</th>
	<th>Ticket</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>98202</td>
        <td>10774</td>
        <td>16698</td>
        <td>7/14/15</td>
        <td>4:15 PM</td>
	<th></th>
      </tr>
      <tr>
	<td>98102</td>
        <td>98565</td>
        <td>2812</td>
        <td>7/14/15</td>
	<td>4:14 PM</td>
	<th></th>
      </tr>
      <tr>
	<td>98103</td>
        <td>7222145933</td>
        <td>2830</td>
        <td>7/14/15</td>
	<td>4:13 PM</td>
	<th></th>
      </tr>
      <tr>
	<td>98104</td>
        <td>Unknown</td>
        <td>2830</td>
        <td>7/14/15</td>
        <td>4:12 PM</td>
	<th></th>
      </tr>
      <tr>
	<td>98105</td>
        <td>47511</td>
        <td>2816</td>
        <td>7/14/15</td>
        <td>4:12 PM</td>
	<th></th>
      </tr>
    </tbody>
  </table>
</div>

